// Color scheme

// Reds

$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #FOAF91;

// Whites

$white: #FFF;
$snow: #FAFAFA;
$quick-silver: #AOAOAO;

// Greys

$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

// Fonts

$raleway: 'Raleway', sans-serif;

// Font Weight

$bold: 700;
$regular: 400;
$extralight: 200;

// Font Size

$xx-large: 6.25em;
$x-large: 70px;
$large: 3.125em;
$medium: 18px;

// Button Size

$btn-large: 12.5em;