.logo__container {
	padding: 10px 0 10px 40px;
	background-color: $snow;
}

.logo__container__image {
	width: 20%;
}

.redblock {
	background-color: $jelly-bean;
	
}

.redblock__section {
	padding: 18em ;
	text-align: center;
	background-color: $jelly-bean;
}

.redblock__section__title span {
	font-weight: $extralight;
}

.redblock__section__title {
	margin: auto;
	max-width: 95%;

}

