.greyblock {
	background-color: $taupe-gray;
	
}

.greyblock__container {
	text-align: center;
	padding: 10%;	

}

.greyblock__container__image {
	width: 90%;

}

.greyblock__container__title {
	margin-top: 40px;

}

.greyblock__container__paragraph {
	
	margin: 40px auto;
	color: $white;
	max-width: 60%;
	text-align: left;
}

.whiteblock {
	background-color: $snow;
	color: $granite-gray;
		
}

.whiteblock__container {
	text-align: center;
	padding: 10%;	

}

.whiteblock__container_image {
	width: 90%;

}

.whiteblock__container__title {
	margin: 40px auto;
	color: $granite-gray;	

}

.whiteblock__container__paragraph {
	
	margin: 40px auto;
	max-width: 60%;
	text-align: left;
}

.whiteblock__container_bio-image {
	width: 50%;
}
